body{
    background-image: url("./images/Background.png");

}

.main-character{
    height: 150px;
    position: absolute;
    bottom: 0;
    transition: bottom 0.5s;
}

.jump {
    bottom: 2vh;
}

.turnLeft{
    transform: scaleX(-1);
}

