body{
    background-image: url("./images/Background.png");

}

/*Dialogue box and title*/

h1{
    font-family: 'Kaushan Script', cursive;
    font: 100px;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 3px grey;
}

p{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
}

/*#dialogues{
    border: 1px solid black; 
    height: 150px;
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    background-color: black;
    opacity: 0.6;
}*/

.dialogues-box{
    border: 1px solid black; 
    height: 150px;
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    background-color: black;
    opacity: 0.6;
}

button{
    text-align: center;
}

.main-character{
    height: 150px;
    position: absolute;
    bottom: 0;
    transition: bottom 0.5s;
}

.jump {
    bottom: 2vh;
}

.turnLeft{
    transform: scaleX(-1);
}

#optionOne {
    display: none;
}
