body {
    height: 100vh;
}

.main{
    height: 100%;
    width: 100%;
    /*background-image: url("./images/Background.png");*/
    background: url("./images/Background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-left{
    height: 100%;
    width: 100%;
    /*background-image: url("./images/a72a9f367363d83ca70227d13f18c174.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: url("./images/a72a9f367363d83ca70227d13f18c174.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-right{
    height: 100%;
    width: 100%;
    /*background-image: url("./images/backgroundRight.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: url("./images/backgroundRight.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Dialogue box and title*/

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 61px;
    text-align: center;
    color: goldenrod;
    text-shadow: 0px 2px 3px white;
}

.dialogue{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    text-align: center;
    color: white;
}

.title-dialogue{
    color: white;
    text-shadow: 0px 2px 3px grey;
}

.sentence-dialogue{
    font-size: 20px;
}


.dialogues-box{
    height: 350px;
    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
    background-color: black;
    opacity: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dialogues-box-first{
    height: 354px;
    top: 30%;
    opacity: 0.8;
}

.dialogues-box-second{
    height: 150px;
    top: 30%;
    opacity: 0.6;
}

.dialogues-gameOver{
    height: 260px;
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
    opacity: 1;
    background-color: black;
}

.dialogues-youWin{
    height: 400px;
}

button{
    background: linear-gradient(to bottom, #3399ff 0%, #1c5380 83%);
    color: white;
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 8px;
}

.buttons-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.main-character{
    height: 150px;
    position: absolute;
    bottom: 0;
    transition: bottom 0.5s;
}

.jump {
    bottom: 2vh;
}

.turnLeft{
    transform: scaleX(-1);
}

#optionOne {
    display: none;
}

#old-man{
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#treasure{
    width: 10%;
    position: absolute;
    bottom:0;
    margin-left: 20px;
}

#beast{
    width: 80%;
    position: absolute;
    bottom: 0;
}

.main-character-sword{
    height: 150px;
    position: absolute;
    bottom: 0;
    transition: bottom 0.5s;
}

#tryAgain{
    z-index: 1;
}

#close{
    z-index: 1;
}